@import url("https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=PT+Sans+Narrow:wght@400;700&display=swap");

@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");


body {
	font-family: 'PT Sans Narrow', sans-serif;
	font-size:  18px;
	margin: 0px ;
}


h1 {
	font family: 'PT Sans Narrow', sans-serif;
		font-weight: bold;
}

h2 {
	font-family: 'Julius Sans One', sans-serif;
}

h3 {
	font-family: 'Julius Sans One', sans-serif;
	font-size: 18px;

}

a {
	text-decoration: none;
}